@font-face {
    font-family: AmericanCaptain;
    src:url("./Assets/fonts/American\ Captain.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
body {
  
  font-family: "AmericanCaptain", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: #fff;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 2;
  height: 90px;
  width: 100%;
  background-color: transparent;
  color: black;
  position: absolute;
  padding: 0 100px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
}

.navbar-brand a {
  color: #fff;
  padding: 22px;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 100;
  font-family: "AmericanCaptain", sans-serif;
  letter-spacing: 2px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
}


.navbar-nav li a {
  padding: 0 1em;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: black;
}

.navbar .navbar-contact{
  margin-left: auto;
}

.contact-us-button {
  padding: 0.5em 1em;
  color: white;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background: transparent;
  border: 1px solid white;
}

.tranparent-btn{
  padding: 0.5em 1em;
  color: white;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  background: transparent;
  border: 1px solid white;
}

.contact-us-button:hover {
  background-color: gray;
}

.main-section {
  background-image: url(Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 697px;
  overflow: hidden;
  left: 0;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  color: white;
  padding-right: 50px;
  height: 100%;
  margin-top: 3rem;
}

.main-section .content .text-content {
  padding: 42px;
  text-align: left;
  width: 65%;
  color: white;
  z-index: 2;
  padding-top: 7rem;
  position: relative;
}

.main-section .content .text-content h1 {
  font-size: 80px;
  text-align: right;
  font-weight: 100;
  letter-spacing: 1px;
}

.main-section .content .text-content p {
  font-size: 22px;
  text-align: right;
  font-family: "Poppins", sans-serif;
    width: 60%;
    margin-left: auto;
}
.main-section .content .text-content button {
  margin-top: 1rem;
  position: absolute;
  right: 42px;
}

.about-us {
  background-color: #000;
  padding: 45px;
  font-size: 40px;
}

.about-us h1 {
  padding: 11px;
  text-align: center;
  font-weight: 100;
  font-size: 110px;

}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-us .text-content p {
  font-size: 14px;
  flex: 1;
  max-width: 600px;
  font-family: "Poppins", sans-serif;
    width: 90%;
}

.image-content img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
  .text-content {
    order: 2;
  }
  .image-content {
    order: 1;
  }
}

.prime-car-benefits {
  background-color: #1a191a;
  padding: 20px;
  text-align: center;
}

.benefits-heading h1 {
  color: #ffff;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Amethysta', serif;
  font-weight: 100;
    font-size: 80px;
}

.benefits-heading p {
  color: white;
  font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 23px 0;
}

.benefits-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.benefit-card {
  width: 30%;
  margin: 20px;
  padding: 20px 1.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 22px;
  transition: box-shadow 0.3s ease;
  color: white;
  position: relative;
}

.benefit-card .icon{
  height: 125px;
  position: relative;
}

.benefit-card .icon img{
  width: 50%;
    position: absolute;
    top: -60%;
    left: 25%;
}

.benefit-card.green{
  background-color: #0d7b61;
}
.benefit-card.red{
  background-color: #872323;
}
.benefit-card.blue{
  background-color: #0a3f8f;
}

.benefit-card h3 {
  font-size: 28px;
    margin-bottom: 5px;
    font-weight: 100;
}

.benefit-card p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.car-info {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cars h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 5px;
}

.cars p {
  color: white;
  font-size: 16px;
}

.contact {
  padding: 20px;
  background-color: rgb(76, 118, 118);
}

.contact .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact .container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact .container p {
  font-size: 16px;
  color: black;
}

.contact .container .contact__form {
  margin-top: 20px;
}

.contact .container .contact__form .form__name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact .container .contact__form button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.footer__container {
  background-color: #333;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 39px;
  font-family: Arial, sans-serif;
}

.footer__container > div {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.footer__container h4 {
  color: #f2f2f2;
  font-size: larger;
  margin-bottom: 15px;
}

.footer__container p,
.footer__container ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer__container ul {
  list-style: none;
  padding: 0;
}

.footer__container a {
  color: #f2f2f2;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__container a:hover {
  color: #ff4500;
}

.footer__socials {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer__socials li {
  margin-right: 10px;
}

.footer__socials a {
  font-size: 20px;
}

.footer__socials i {
  transition: color 0.3s ease;
}

.footer__socials i:hover {
  color: #ff4500;
}

.footer__copyright {
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  background-color: #222;
  color: #f2f2f2;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer__container > div {
    flex-basis: 50%;
  }
}
